<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta | CloudTask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>CloudTask</h1>
        <p>Gestión segura y escalable de tareas en la nube</p>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <section>
            <h2>Crear cuenta</h2>
            <p>Regístrate para comenzar a gestionar tus tareas.</p>

            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.nombre.label }}
                    {{ form.nombre(placeholder="Ingresa tu nombre") }}

                    {% for error in form.nombre.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(placeholder="correo@ejemplo.com") }}

                    {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(placeholder="Mínimo 8 caracteres") }}

                    {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.confirmar_password.label }}
                    {{ form.confirmar_password(placeholder="Repite tu contraseña") }}

                    {% for error in form.confirmar_password.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn") }}
            </form>

            <p class="form-footer">
                ¿Ya tienes una cuenta?
                <a href="{{ url_for('login') }}">Inicia sesión</a>
            </p>
        </section>
    </main>

    <footer>
        <p>CloudTask - Proyecto de Computación en la Nube</p>
    </footer>
</body>

</html>